body {
  margin: 0 auto;
}

.header {
  background-color: #fafafa;
  padding-bottom: 60px;
  width: 100%;
  height: 100%;
}

/* navbar */

.navbar {
  position: absolute;
  display: grid;
  height: 2.7em;
  width: 100%;
  color: #fafafa;
  text-align: center;
  font-family: "Montserrat";
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding-right: 2em;
  padding-left: 2em;
  display: inline;
}

li:hover > a {
  background-color: #f44336;
}

a {
  text-decoration: none;
}

/* header */

.header-content {
  text-align: center;
  color: #111111;
  padding-top: 40px;
}

.social {
  position: absolute;
  top: 50%;
  left: 10%;
}
.social :hover {
  opacity: 0.5;
}

.coding {
  position: absolute;
  top: 50%;
  right: 10%;
}

#name {
  position: absolute;
  font-size: 65px;
  font-family: "Montserrat";
  font-weight: 900px;
  color: #2196f3;
  top: 50%;
  left: 34%;
}

#dev {
  font-family: "Montserrat";
  color: #fafafa;
  display: inline;
  font-size: 30px;
  font-weight: 500;
  background-color: black;
}

/* about */

#about {
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  /* clear: both; */
  background-color: #9e9e9e;
  margin: 0 auto;
  font-family: "Montserrat";
  text-align: center;
}

.name {
  text-align: center;
  color: #ff9800;
  font-size: 40px;
  font-family: "Montserrat";
}

.me-paragraph {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  font-size: 25px;
}

/* work */

#work {
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  /* clear: both; */
  background-color: #616161;
  margin: 0 auto;

  font-family: "Montserrat";
  text-align: center;
}

#work p {
  font-size: 40px;
  color: #ff9800;
}

.work-img {
  margin: 1%;
  width: 45%;
}

/* Contact */

.contact {
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  /* clear: both; */
  background-color: #212121;
  margin: 0 auto;
  text-align: center;
}

.contact-title {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: lighter;
  color: #ff9800;
  text-align: center;
}

.contact p {
  font-family: "Montserrat";
  font-weight: lighter;
  text-align: center;
  color: #fafafa;
}

.form-content {
  margin-top: 24px;
  line-height: 20px;
}

.form-content form {
  padding-left: 25%;
  padding-right: 25%;
}

input {
  width: 100%;
  float: left;
  display: block;
  font-family: "Montserrat";
  border: none;
  border-radius: 4px;
  height: 28px;
  padding-left: 10px;
}

textarea {
  width: 100%;
  height: 120px;
  display: block;
  border: none;
  border-radius: 4px;
  font-family: "Montserrat";
  padding-left: 10px;
}

button {
  font-size: 18px;
  width: 100%;
  background-color: #9c27b0;
  color: #fafafa;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  font-family: "Montserrat";
}

button:hover {
  opacity: 0.8;
}

::placeholder {
  color: gray;
}
